:where(.css-dev-only-do-not-override-1wazalj).ant-menu-light:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):hover,
:where(.css-dev-only-do-not-override-1wazalj).ant-menu-light
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):hover {
  /* background-color: rgba(0, 0, 0, 0.06); */
  color: #ff7506;
  background-color: #fff2e7;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-menu-light
  .ant-menu-item-selected
  a {
  color: #fff;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1wazalj).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  background-color: #ff7506;
  color: #fff;
}

.sidebar {
  position: relative;
}

.sidebar-text {
}

.btn-logout {
  display: flex;
  width: 176px;
  height: 48px;
  padding: 12px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--orange-orange-50, #fff2e7);
  border: #ff7506;
  bottom: 5%;
  left: 1%;
  position: fixed;
}

.btn-text__logout {
  color: var(--orange-orange-500, #ff7506);
  font-size: 16px;
  font-family: Nunito;
  font-weight: 600;
  line-height: 24px;
}

.content-title {
  color: var(--orange-orange-400, #ff9138);

  /* 20/20 Bold */
  font-size: 20px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 30px;
}

.content-title-name {
  color: var(--orange-orange-500, #ff7506);

  /* 24/24 Bold */
  font-size: 24px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 36px;
}

.ant-menu-title-content,
a {
  color: var(--gray-gray-300, #7e7d88);

  /* 16/16 Semi */
  font-size: 16px;
  font-family: Nunito;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}

.content-card {
  display: flex;
  width: 790px;
  height: 128px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 13px;
  flex-shrink: 0;
  margin-left: 1rem;
}

.content-card__container {
  width: 186px;
  height: 120px;
  flex-shrink: 0;
}

.content-card__title {
  width: 124.52px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

.content-card__icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.card-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: #6493f9;
}

.content-card__text {
  color: var(--gray-gray-400-text, #535261);

  /* 14/14 Bold */
  font-size: 14px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 18px;
}

.text-des {
  color: var(--gray-gray-400-text, #535261);

  /* 30/30 Bold */
  font-size: 30px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 45px;
}

.content-card__number {
  display: flex;
  justify-content: space-between;
}

.card-percent__number {
  color: var(--gray-gray-400-text, #535261);

  /* 30/30 Bold */
  font-size: 30px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 45px;
}

.card-percent__icon {
  color: var(--orange-orange-400, #ff9138);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--orange-orange-50, #fff2e7);
  border: #ff7506;
  width: 48px;
  height: 14.978px;
  border-radius: 8px;
  background: rgba(255, 149, 1, 0.15);
}

.absolute {
  position: absolute;
  width: 12px;
  height: 12px;
  bottom: 19%;
  right: 70%;
}

.sidebar-right {
  background-color: #fff;
  width: 240px;
}

.sidebar-right__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-custom {
  padding-top: 18%;
}

.text-user {
  color: var(--gray-gray-400-text, #535261);

  /* 16/16 Bold */
  font-size: 16px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 24px;
}

.sidebar-right__title {
  color: var(--orange-orange-500, #ff7506);

  /* 24/24 Bold */
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
