* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nutito;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-modal .ant-modal-content {
  padding: 0;
  border-radius: 24px;
}
.btn {
  background: var(--orange-orange-400, #ff9138);
}

.btn:hover {
  color: #ff9138;
  background-color: #fff;
  background: var(--orange-orange-400, #ff9138);
}

.sidebar {
  height: 100vh;
  background-color: #f6f6f6;
}

.color-btn {
  color: var(--white, #fff);
  width: 162px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.btn-cancel {
  border-radius: 8px;
  border: 1px solid var(--orange-orange-400, #ff9138);

  /* down */
  box-shadow: 0px 0px 6px 0px #e7e9f2;
  width: 162px;
  height: 40px;
  padding: 10px 24px;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-btn-default:not(
    :disabled
  ):active {
  color: #fff;
  border-color: #ff9138;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-btn-default:not(
    :disabled
  ):hover {
  color: #fff;
  border-color: #ff9138;
}

.btn-cancel span {
  color: var(--orange-orange-400, #ff9138);

  /* 16/16 Bold */
  font-size: 16px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 24px;
}

.centered-col {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  min-height: 100vh;
  align-items: center;
}

.forgot-pwd {
  color: #e73f3f;
  text-decoration: none;
}

.forgot-pwd:hover {
  color: #e73f3f;
}

.form-label {
  color: #37474f;

  /* 18/18 Reg */
  font-size: 18px;
  line-height: 27px;
}

.logo-alta {
  width: 170px;
  height: 136px;
  padding: 0px 0px 0.044px 0px;
  flex-shrink: 0;
}

.image-right {
  position: relative;
}

.text-right {
  position: absolute;
  top: 40%;
  right: -15%;
}

.text-right__first {
  color: var(--orange-orange-500, #ff7506);

  /* 34/34 Reg */
  font-size: 34px;
  font-family: Nunito;
  line-height: 51px;
}

.text-right__seconds {
  color: var(--orange-orange-500, #ff7506);

  /* 36/36 Xbold */
  font-size: 36px;
  font-family: Nunito;
  font-weight: 900;
  line-height: 54px;
}

.text-forgot {
  color: var(--gray-gray-500, #282739);

  /* 22/22 Bold */
  font-size: 22px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 33px;
}

.profile-username {
  color: var(--gray-gray-500, #282739);

  /* 24/24 Bold */
  font-size: 24px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 36px;
}

.avatar {
  width: 224px;
  height: 224px;
}

.btn-post {
  width: 72px;
  height: 70px;
  color: #fff;
  background-color: #ff9138;
  white-space: pre-wrap;
  position: fixed;
  right: 0;
}

.btn-text-post {
  color: var(--orange-orange-500, #ff7506);
  text-align: center;
  font-size: 12px;
  font-family: Nunito;
  font-weight: 600;
}

.tag-device {
  border-radius: 9px;
  background: var(--orange-orange-300, #ffac6a);
  line-height: 100%;
  min-height: 20px;
  /* down */
  box-shadow: 0px 0px 6px 0px #e7e9f2;
}

.border-tag {
  width: 823px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.title-page {
  color: var(--orange-orange-500, #ff7506);

  /* 24/24 Bold */
  font-size: 24px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.info-device {
  color: var(--orange-orange-500, #ff7506);

  /* 20/20 Bold */
  font-size: 20px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.popup {
  width: 469px;
  /* height: 385px; */
  border-radius: 24px;
}

.Capso-title {
  color: var(--gray-gray-400-text, #535261);

  /* 32/32 Bold */
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.numberService {
  color: var(--orange-orange-500, #ff7506);
  font-family: Nunito;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
}

.nameService {
  color: var(--gray-gray-500, #282739);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.footer-modal {
  background: var(--orange-orange-400, #ff9138);
  padding: 24px 67px;
  gap: 12px;
  border-radius: 0 0 24px 24px;
}

.ant-table-cell {
  white-space: nowrap;
}

.notifycation {
  width: 18rem;
  height: 29.5rem;
  overflow-y: auto;
  overflow-x: hidden;

  border-radius: 5px;
}

.title-not {
  color: var(--white, #fff);

  /* 20/20 Bold */
  font-family: Nunito;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem; /* 150% */
  background: var(--orange-orange-400, #ff9138);
  padding: 1rem;
}

.box-not {
  width: 17rem;
  height: 5rem;
  padding: 1rem;
  background: #fff;
  /* border-bottom: 1px solid #535261; */
}

.title-cus {
  color: var(--orange-orange-600, #bf5805);

  /* 16/16 Bold */
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}

.title-grant {
  color: var(--gray-gray-400-text, #535261);

  /* 16/16 Reg */
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.notification-component {
  position: absolute;
  right: 25%;
  top: 15%;
  z-index: 9999999;
}

.notification-components {
  position: absolute;
  right: 1%;
  top: 12%;
  z-index: 99999;
}

.bell {
  cursor: pointer;
}

.tcard {
  margin-top: 2.7rem;
  margin-left: 1rem;
}

.card-main {
  width: 18.5rem;
  height: 8rem;
  flex-shrink: 0;
  background: var(--white, #fff);
  box-shadow: 2px 2px 15px 0px rgba(70, 64, 67, 0.1);
}

.circle-progress {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle-progress p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.circle-progress .inside-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle-progress .outside-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip: rect(0, 50px, 100px, 0);
  border-radius: 50%;
  background-color: #007bff;
}

.text-device {
  color: var(--orange-orange-500, #ff7506);
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3125rem; /* 150% */
}

.text-cards {
  color: var(--gray-gray-300, #7e7d88);
  font-family: Nunito;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem; /* 175% */
}

.number-device {
  color: var(--orange-orange-500, #ff7506);
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem; /* 128.571% */
}

.text-service {
  color: var(--blue, #4277ff);
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3125rem; /* 150% */
}

.number-service {
  color: var(--blue, #4277ff);
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem; /* 128.571% */
}

.text-capso {
  color: var(--green, #35c75a);
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3125rem; /* 150% */
}

.number-capso {
  color: var(--green, #35c75a);
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem; /* 128.571% */
}
