* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nutito;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-modal .ant-modal-content {
  padding: 0;
  border-radius: 24px;
}
.btn {
  background: var(--orange-orange-400, #ff9138);
}

.btn:hover {
  color: #ff9138;
  background-color: #fff;
  background: var(--orange-orange-400, #ff9138);
}

.sidebar {
  height: 100vh;
  background-color: #f6f6f6;
}

.color-btn {
  color: var(--white, #fff);
  width: 162px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.btn-cancel {
  border-radius: 8px;
  border: 1px solid var(--orange-orange-400, #ff9138);

  /* down */
  box-shadow: 0px 0px 6px 0px #e7e9f2;
  width: 162px;
  height: 40px;
  padding: 10px 24px;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-btn-default:not(
    :disabled
  ):active {
  color: #fff;
  border-color: #ff9138;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-btn-default:not(
    :disabled
  ):hover {
  color: #fff;
  border-color: #ff9138;
}

.btn-cancel span {
  color: var(--orange-orange-400, #ff9138);

  /* 16/16 Bold */
  font-size: 16px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 24px;
}

.centered-col {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  min-height: 100vh;
  align-items: center;
}

.forgot-pwd {
  color: #e73f3f;
  text-decoration: none;
}

.forgot-pwd:hover {
  color: #e73f3f;
}

.form-label {
  color: #37474f;

  /* 18/18 Reg */
  font-size: 18px;
  line-height: 27px;
}

.logo-alta {
  width: 170px;
  height: 136px;
  padding: 0px 0px 0.044px 0px;
  flex-shrink: 0;
}

.image-right {
  position: relative;
}

.text-right {
  position: absolute;
  top: 40%;
  right: -15%;
}

.text-right__first {
  color: var(--orange-orange-500, #ff7506);

  /* 34/34 Reg */
  font-size: 34px;
  font-family: Nunito;
  line-height: 51px;
}

.text-right__seconds {
  color: var(--orange-orange-500, #ff7506);

  /* 36/36 Xbold */
  font-size: 36px;
  font-family: Nunito;
  font-weight: 900;
  line-height: 54px;
}

.text-forgot {
  color: var(--gray-gray-500, #282739);

  /* 22/22 Bold */
  font-size: 22px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 33px;
}

.profile-username {
  color: var(--gray-gray-500, #282739);

  /* 24/24 Bold */
  font-size: 24px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 36px;
}

.avatar {
  width: 224px;
  height: 224px;
}

.btn-post {
  width: 72px;
  height: 70px;
  color: #fff;
  background-color: #ff9138;
  white-space: pre-wrap;
  position: fixed;
  right: 0;
}

.btn-text-post {
  color: var(--orange-orange-500, #ff7506);
  text-align: center;
  font-size: 12px;
  font-family: Nunito;
  font-weight: 600;
}

.tag-device {
  border-radius: 9px;
  background: var(--orange-orange-300, #ffac6a);
  line-height: 100%;
  min-height: 20px;
  /* down */
  box-shadow: 0px 0px 6px 0px #e7e9f2;
}

.border-tag {
  width: 823px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.title-page {
  color: var(--orange-orange-500, #ff7506);

  /* 24/24 Bold */
  font-size: 24px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.info-device {
  color: var(--orange-orange-500, #ff7506);

  /* 20/20 Bold */
  font-size: 20px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.popup {
  width: 469px;
  /* height: 385px; */
  border-radius: 24px;
}

.Capso-title {
  color: var(--gray-gray-400-text, #535261);

  /* 32/32 Bold */
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.numberService {
  color: var(--orange-orange-500, #ff7506);
  font-family: Nunito;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
}

.nameService {
  color: var(--gray-gray-500, #282739);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.footer-modal {
  background: var(--orange-orange-400, #ff9138);
  padding: 24px 67px;
  gap: 12px;
  border-radius: 0 0 24px 24px;
}

.ant-table-cell {
  white-space: nowrap;
}
